:root {
    --color-primary: #00AEEF;
    --color-button: #070471;
    --color-body: #707070;
}

*, *::before, *::after {
    box-sizing: border-box;
}


/* Typography */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-body);
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}


h1, h2, h3 {
    text-transform: uppercase;
}

p {
    margin: 0;
}


/* Buttons */
.btn {
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: all 0.15s;
}

.btn--primary {
    background: var(--color-primary);
    border: 0;
    color: #fff;
}

.btn--primary:hover {
    background: #31C7FF;
}

.btn--outline {
    color: var(--color-button);
    border: 2px solid var(--color-button);
    background: #fff;
}

.btn--outline:hover {
    background: var(--color-button);
    color: #fff;
}

.btn--block {
    width: 100%;
    display: block;
    text-align: center;
}


/* Links */
a {
    text-decoration: none;
}


/* Grids */
.grid {
    display: grid;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }
}


/* Actions */
.action__icon {
    width: 90%;
}

.action__header {
    text-align: center;
}

.action__content {
    font-size: 3rem;
    margin-top: 4rem;
}

.grid .action__content {
    justify-self: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 .action__content {
        align-self: center;
        justify-self: center;
    }
}


/* Containers */
.container {
    max-width: 1140px;
}

.container--center {
    margin: 0 auto;
}


/* Cards */
.card {
    text-align: center;
}

.card__title {
    font-size: 2.4rem;
}

.card__content {
    margin-top: 3rem;
    font-weight: 500;
}

.grid .card__title-container {
    margin-bottom: 0;
}

@media screen and (min-width: 768px) {
    .grid .card__content {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .grid .card__title-container {
        margin-top: 0;
    }

    .grid .card__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


/* Lists */
.list {
    padding: 0;
    list-style: none;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 1.5rem;
}


/* Icons */


/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.logo-container__logo {
    width: 12rem;
    margin: 0 1rem;
}

.logo-container__heading {
    font-weight: 500;
    font-size: 2.4rem;
}