:root {
    --color-primary: #00AEEF;
    --color-button: #070471;
    --color-body: #707070;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.inactive::before {
    content: "";
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 50;
    background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 768px) {
    .inactive::before {
        display: none;
    }
}

.prevent-animation * {
    transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -webkit-transition: none !important;
}


/* Typography */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--color-body);
    font-size: 1.5rem;
}

html {
    font-size: 62.5%;
}


h1, h2, h3 {
    text-transform: uppercase;
}

p {
    margin: 0;
}


/* Buttons */
.btn {
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: all 0.15s;
}

.btn--primary {
    background: var(--color-primary);
    border: 0;
    color: #fff;
}

.btn--primary:hover {
    background: #31C7FF;
}

.btn--outline {
    color: var(--color-button);
    border: 2px solid var(--color-button);
    background: #fff;
}

.btn--outline:hover {
    background: var(--color-button);
    color: #fff;
}

.btn--block {
    width: 100%;
    display: block;
    text-align: center;
}


/* Links */
a {
    text-decoration: none;
}


/* Grids */
.grid {
    display: grid;
}


@media screen and (min-width: 768px) {
    .grid--1x2 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--flip .grid__item-2 {
        grid-column: 1;
        grid-row: 1;
    }

    .grid--flip .grid__item-1 {
        grid-column: 2;
    }

}


/* Actions */
.action__icon {
    width: 90%;
}

.action__header {
    text-align: center;
}

.action__content {
    font-size: 3rem;
    margin-top: 4rem;
}

.grid .action__content {
    justify-self: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .grid--1x2 .action__content {
        align-self: center;
        justify-self: center;
    }
}


/* Containers */
.container {
    max-width: 1140px;
}

.container--center {
    margin: 0 auto;
}


/* Cards */
.card {
    text-align: center;
}

.card__pre-title {
    font-size: 2rem;
}

.card__title {
    font-size: 3rem;
}

.card__content {
    margin: 3rem 0;
    font-weight: 500;
}

.grid .card__title-container {
    margin-bottom: 0;
}


.card--bordered {
    border: 2px solid var(--color-body);
    max-width: 65rem;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
    .card.grid .card__content {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card.grid .card__title-container {
        margin-top: 0;
    }

    .card.grid .card__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card--bordered {
        min-height: 20rem;
    }
}


/* Lists */
.list {
    padding: 0;
    list-style: none;
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 1.5rem;
}


/* Side Menu */
.side-menu {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 50%;
    top: 0;
    padding: 1rem 1.5rem;
    background: #fff;
    transition: transform 0.3s;
}

.side-menu__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.side-menu__header .logo-container__heading {
    font-size: 1.3rem;
}

.side-menu__header .logo-container__logo {
    width: 9rem;
}

.side-menu--right {
    right: 0;
}

.side-menu__list .list__item {
    margin-bottom: 2rem;
    width: 100%;
}


@media screen and (min-width: 768px) {
    .side-menu {
        display: none;
    }
}

@media screen and (max-width: 650px) {
    .side-menu {
        width: 90%;
    }
}

.toggler {
    fill: #777;
    cursor: pointer;
}


/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.collapsible__heading {
    margin: 0.5rem;
}

.chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}

.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.15s;
}

.collapsible--expanded .chevron {
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
    padding: 1rem;
}

.collapsible-side-menu {
    transform: translateX(100%);
}

.collapsible-side-menu.collapsible-side-menu--expanded {
    transform: translateX(0);
}


/* Logo */
.logo-container {
    display: flex;
    align-items: center;
}

.logo-container__logo {
    width: 12rem;
    margin: 0 1rem 0 0;
}

.logo-container__heading {
    font-weight: 500;
    font-size: 2.4rem;
}

@media screen and (max-width: 500px) {
    .logo-container__heading {
        font-size: 1.5rem;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}


/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    background: #fff;
    border-bottom: 1px solid var(--color-body);
}

.nav__list {
    display: none;
}

@media screen and (min-width: 768px) {
    .nav .icon {
        display: none;
    }

    .nav__list {
        display: initial;
    }
}



/* Hero */

.hero.grid--1x2 {
    gap: 10rem 0;
}

.hero__img {
    padding: 0 10rem;
}

@media screen and (min-width: 1024px) {
    .hero__content {
        justify-self: left;
        text-align: left;
    }

    .hero__img {
        grid-template-columns: auto;
    }

    .hero.grid--1x2 {
        grid-template-columns: min-content auto;
    }

    .hero__title-container {
        white-space: nowrap;
    }

    .hero__title {
        font-size: 4rem;
    }

    .hero__pre-title {
        font-size: 3rem;
    }
}

@media screen and (min-width: 768px) {

    .hero.grid--1x2 {
        gap: 0 5rem;
    }

    .hero__content {
        align-self: center;
    }

    .hero__img {
        padding: 0;
    }
}

@media screen and (max-width: 600px) {
    .hero__img {
        padding: 0 5rem;
    }
}



/* Blocks */
.block {
    padding: 2rem 2rem;
}

.block--vertically-distant {
    padding: 10rem 2rem;
}

.block-actions .action {
    margin-bottom: 20rem;
}

.block-actions {
    margin-top: 10rem;
}