<div class="card">
    <header class="card__header">
        <h1 class="card__title-container">
            <div class="card__pre-title">Chat Rooms</div>
            <div class="card__title">For Business Leaders</div>
        </h1>
    </header>
    <div class="card__content">
        <p>Being an entrepreneur doesn't have to be lonely.</p>
    </div>
</div>
<div class="container container--center card grid grid--1x2">
    <header class="card__header">
        <h1 class="card__title-container">
            <div class="card__pre-title">Meet</div>
            <div class="card__title">Bored Members</div>
        </h1>
    </header>
    <div class="card__content">
        <p>A place where creative business minds meet and chat about ideas.</p>
    </div>
</div>