<section class="block">
    <section class="hero grid grid--1x2 container container--center">
        <div class="card hero__content">
            <header class="card__header">
                <h1 class="card__title-container hero__title-container">
                    <div class="card__pre-title hero__pre-title">Chat Rooms</div>
                    <div class="card__title hero__title">For Business Leaders</div>
                </h1>
            </header>
            <div class="card__content">
                <p>Being an entrepreneur doesn't have to be lonely.</p>
            </div>
        </div>
        <div class="hero__img">
            <img src="icons/bored_members_network.svg" alt="">
        </div>
    </section>
</section>