<nav class="nav">
    <div class="logo-container">
        <svg class="logo-container__logo" viewBox="0 0 263 148">
            <use xlink:href="icons/sprite.svg#bored_members_logo"></use>
        </svg>
        <h1 class="logo-container__heading">Bored Members</h1>
    </div>
    <svg class="icon toggler">
        <use xlink:href="icons/sprite.svg#menu"></use>
    </svg>

    <ul class="list list--inline nav__list">
        <li class="list__item">Item 1</li>
        <li class="list__item">Item 2</li>
        <li class="list__item">Item 3</li>
    </ul>
</nav>